#ticket-table {
  overflow: auto;
}

table {
  margin: 0 auto;
}

table,
td {
  border: 1px solid black;
}

tbody {
  margin: 0 auto;
}

tbody tr {
  display: grid;
  grid-template: 1fr / repeat(5, 20%);
  height: 6rem;
  width: 50rem;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

thead tr th,
tfoot tr th {
  padding: 0.5rem 0.25rem;
}

tfoot tr {
  text-align: right;
  font-size: 0.75rem;
}

table .heading {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
}
